.dashboard {
  margin-left: 250px;
  padding: 20px;
}

.show-sidebar-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px;
  background-color: #7c8084;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.dashboard-container {
  padding: 20px;
  margin-left: 250px; /* Space for the sidebar */
}

.sidebar.hide + .dashboard-container {
  margin-left: 0;
}
