/* EmployeeImports.css */
.container {
  margin-top: 20px;
  
}
.import {
  width: 1000px;
}
h4 {
  font-weight: bold;
}

small {
  color: #999;
}

.form-group {
  margin-top: 15px;
}

.text-danger {
  color: red;
}

.sample-file-link {
  margin-top: 10px;
  display: block;
}

button {
  margin-top: 20px;
}

button + button {
  margin-left: 10px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}
